{{#if products}}
<div class="row">
  <div class="col-sm-6 col-md-6 col-med-offset-3 col-med-offset-3">
    <ul class="list-group">
       {{#each products}}
      <li class="list-group-item">
        <span class="badge">{{ this.qty }}</span>
        <strong>Title: {{ this.item.Title }}</strong>
        <span class="label label-success">$ {{this.item.Price}}</span>
        <div class="btn-group">
          <button class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" type="button">Action
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              {{!-- _id came from mongodb _id reference --}}
              <a href="/reduce/{{this.item._id}}">reduce by 1</a>
            </li>
            <li>
              <a href="/remove-all/{{this.item._id}}">remove all</a>
            </li>
          </ul>
        </div>
      </li>
       {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-6 col-med-offset-3 col-med-offset-3">
    <strong>Total Price: {{this.totalPrice}}</strong>
  </div>
  <div class="col-sm-6 col-md-6 col-med-offset-3 col-med-offset-3">
    <strong>Date: {{this.date}}</strong>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-6 col-md-6 col-med-offset-3 col-med-offset-3">
    <a href="/checkout" type="button" class="btn btn-success">checkout</a>
  </div>
</div>
{{else}}
<div class="row">
  <div class="col-sm-6 col-md-6 col-med-offset-3 col-med-offset-3">
    <h2>No Items in Cart</h2>
  </div>
</div>
{{/if}}



